@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Bold.woff);
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: block;
  background-image: url(../images/banner-bg.jpg);
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000;
  padding-top: 3%; 
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 11%;
  position: relative;
  z-index: 1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  background-color: #000000;
  z-index: -1;
}

.container {
  display: flex;
  width: 100%;
  padding: 0 8%;
  margin: 0 auto;
  justify-content: space-between;
}

.header-logo {
  width: 180px;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-list-items {
  font-family: "Open Sans";
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
  list-style-type: none;
}

.menu-list-items:nth-child(n + 2) {
  margin-left: 8%;
}

.menu-list-items:hover {
  text-decoration: underline;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
}

.welcome {
  display: flex;
  width: 58%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 8%;
}

.welcome-title {
  color: #ffffff;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.6;
  font-size: 3rem;
}

.trends {
  margin-top: 5%;
  font-family: "Open sans";
  font-weight: 700;
}

.trend-artical {
  display: flex;
}

.trend {
  display: flex;
  width: calc(25% - 3px);
  min-height: 319px;
  align-items: flex-end;
  background-color: #000000;
  position: relative;
}

.trend:nth-child(-n + 3) {
  margin-right: 3px;
}

.title-of-trends {
  color: #ffffff;
  text-transform: uppercase;
}

.title-of-trends:hover {
  color: #ccc;
  text-transform: uppercase;
}

.description-of-trend {
  border: #89723f solid 3px;
  margin-bottom: 5%;
  margin-left: 7%;
  margin-right: 7%;
  padding: 9% 9%;
  font-weight: 700;
}

.garden {
  background-image: url("../images/trend1.jpg");
  z-index: 0;
}

.cheese {
  background-image: url("../images/trend2.jpg");
  z-index: 0;
}

.hike {
  background-image: url("../images/trend3.jpg");
  z-index: 0;
}

.limon {
  background-image: url("../images/trend4.jpg");
  z-index: 0;
}

.garden::after, .cheese::after, .hike::after, .limon::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  background-color: #000000;
  z-index: -1;
}

.main-field {
  display: flex;
  font-family: "Open Sans";
  margin-top: 4%;
  width: 100%;
  padding-right: 3%;
  padding-left: 3%;
  justify-content: space-between;
}

.main {
  flex-direction: column;
  width: 66%;
}

.post {
  display: flex;
}

.post:nth-child(n + 2) {
  margin-top: 8%;
}

.foto-post {
  width: 48%;
}

.info {
  margin-left: 6%;
  font-weight: 700;
  width: 45%;
}

.category, .trend-category {
  display: flex;
  text-transform: uppercase;
  margin-bottom: 2%;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: inline-block;
  margin-right: 18px;
}

.tag:last-child {
  margin-right: 0;
}

.tag:hover, .sale-link:hover {
  text-decoration: underline;
}

.tag-of-article,
.tag-of-trend {
  text-decoration: none;
  list-style-type: none;
  font-size: 14px;
  color: #b59f5b;
}

.trend-header,
.article-header,
.shop-header, .popup-header {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4%;
}

.trend-header,
.shop-header, .popup-header {
  text-align: center;
}

.artical-link,
.hasgtag-link,
.topic-link {
  text-decoration: none;
  color: #000000;
}

.article-header:hover {
  text-decoration: underline;
}

.edition {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  line-height: 1.6;
  margin-bottom: 6%;
}

.data {
  font-size: 12px; /*12px*/
  color: #888888;
  font-weight: 400;
}

.author {
  font-size: 12px;
  margin-left: 4%; /*15px*/
  font-weight: 700;
}

.article-content {
  font-size: 14px;
  font-weight: 400;
}

.aside {
  width: 26%; /*287px*/
}

.aside-title {
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 12%; /*35px*/
  font-size: 12px;
}

.aside-title::after,
.trend-header::after,
.shop-header::after,
.popup-header::after {
  content: "";
  display: block;
  width: 65px; 
  height: 3px;
  margin: 10px auto;
  background-color: #e1d9bd;
}

.trend-header::after,
.shop-header::after{
  margin: 1% auto;
}

.new-posts {
  width: 100%;
}

.new-post {
  display: flex;
}

.new-post:nth-child(n + 2) {
  margin-top: 7%; /*21px*/
}

.new-posts-foto {
  width: 24%; /*70px*/
}

.aside-info {
  margin-left: 7%; /*20px*/
  font-weight: 700;
}

.aside-data {
  font-size: 12px; 
  color: #888888;
  font-weight: 400;
  margin-bottom: 2%; /*5px*/
}

.title-of-aside {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
}

.search-aside {
  margin-top: 21%; /*60px*/
}

.search {
  border-style: none;
  padding: 0 6%; /*19px*/
  width: 83%;
  height: 48px;
  background-color: #f4f7f6;
}

.search:focus,
.mail-adress:focus {
  outline: 1px solid #b59f5b;
}

.search-button {
  width: 17%; /*48*/
  height: 48px;
  background-color: #b59f5b;
  font-size: 0;
  border-style: none;
  vertical-align: top;
}

.search-icon {
  width: 87%; /*42*/
  height: 87%; /*42*/
  justify-content: center;
}

.mailing {
  display: block;
  margin-top: 21%; /*60*/
}

.mail-adress, .select {
  width: 100%;
  height: 48px;
  border-style: none;
  background-color: #f4f7f6;
  padding: 0 7%; /*20*/
  margin-bottom: 6%; /*18*/
  color: #888888;
}

.mail-button, .popup-end {
  width: 100%;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
}

.search-button:hover,
.mail-button:hover,
.product-button:hover, .popup-end:hover {
  background-color: #323232;
}

.hashtags,
.topics {
  display: block;
  margin-top: 21%; /*60*/
}

.hashtags-list,
.topics-list {
  display: block;
  font-weight: 700;
}

.hashtag {
  display: inline-block;
  outline: 3px solid #eeeeee;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2% 4%; /*6,12*/
  margin-right: 3%; /*8*/
  margin-bottom: 3%; /*10*/
}

.hashtag-link {
  text-decoration: none;
  color: #000000;
}

.topic {
  display: block;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
  padding: 4% 0; /*12*/
}

.topic:first-child {
  padding-top: 0;
}

.topic-link:hover,
.hashtag-link:hover,
.title-of-trends:hover {
  background-color: #000000;
  color: #ffffff;
}

.topic-number {
  color: #b59f5b;
  font-size: 12px;
  vertical-align: super;
}

.shop {
  margin-top: 5%; /*64*/
  width: inherit;
  font-family: "Open Sans";
}

.saling {
  display: flex;
  justify-content: space-between;
  padding-top: 2%; /*27*/
}

.sale-header {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2%; /*25*/
  margin-bottom: 3%; /*15*/
}

.sale {
  width: 29%; /*350*/
  font-size: 14px;
  padding-left: 2%; /*22*/
  /*padding-right: 2%; /*25*/
}

.sale-link {
  text-decoration: none;
  color: #b59f5b;
}

.sale-link:hover {
  text-decoration: underline;
}

.description {
  width: 85%; /*300*/
  max-height: 263px; /*263*/
  align-items: flex-end;
  flex-grow: 1;
  outline: 3px solid #b59f5b; 
  outline-offset: 30px;
  transform: translate(10px, -10px);
}


.sale-description{
  font-weight: 400;
  width: 100%;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 9%; /*30*/
}

.product-price {
  display: block;
}

.product-price-old {
  text-decoration: line-through;
  font-weight: bold;
  font-size: 14px;
}

.product-price-new {
  font-weight: bold;
  font-size: 20px;
}

.product-rub-old {
  display: inline-block;
  width: 0.4em;
  border-bottom: 1px solid #000;
  line-height: 5px;
  text-decoration: line-through;
  font-weight: bold;
}

.product-rub-new {
  display: inline-block;
  width: 0.4em;
  border-bottom: 1px solid #000;
  line-height: 5px;
  font-weight: bold;
}

.product-button {
  width: 140px; /*140*/
  height: 48px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  background-color: #b59f5b;
  text-transform: uppercase;
  border: none;
}

.footer {
  display: block;
  margin-top: 5%; /*64*/
  padding-bottom: 3%; /*40*/
  font-family: "Open Sans";
  font-weight: 400;
}

.artical-socials {
  background-color: #f4f7f6;
  padding: 3%; /*30*/
  width: 100%;
  margin: 0 auto;
}

.socials {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.socials-items {
  display: flex;
}

.socials-items:nth-child(n + 2) {
  margin-left: 3%;
}

.socials-link {
  display: flex;
  width: 20px; /*20*/
  height: 20px; /*20*/
  background-repeat: no-repeat;
  background-size: 19px; /*19*/
  background-position: center center;
}

.copyright {
  font-size: 12px;
  color: #999999;
  margin-top: 6%; /*74*/
  text-align: center;
  font-weight: 700;
}

.popup-container::before {
  content: "";
  /*display: none;*/
  background: #000000;
  height: 100%;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 10px;
}

.popup {
  background-color: #ffffff;
  width: 390px;
  height: 590px;
  position: fixed;
  top: 100px;
  left: 40%;
  padding: 55px 30px; 
  z-index: 2;
  font-family: "Open Sans";
  font-weight: 400;
}

 .select-group, .mailing-group, .content-group  {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-weight: 400;
}

.select-label, .mailing-label, .content-label {
  padding-bottom: 12px;
  font-size: 12px;
}

.select {
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 11px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.popup-radio-buttom {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.radio-field {
  display: inline-block;
  font-size: 12px;
}

.radio-text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  vertical-align: middle;
  margin-right: 10px;
}

.popup-radio-buttom:nth-child(n+2) {
  margin-left: 10px;
}

.popup-radio-buttom:checked ~ .radio-text::before {
  background-image: url(../svg/form-circle.svg);
}

.textarea {
  width: 100%;
  min-height: 128px;
  border-style: none;
  background-color: #f4f7f6;
  padding: 20px; 
  color: #888888;
}

.textarea:focus, .select:focus {
  outline: 2px solid #b59f5b;
}

.popup-end {
  width: 100%;
  font-size: 14px;
}

.popup_close {
  width: 10px;
  height: 10px;
  font-size: 0;
  top: 20px;
  left: 0; 
}

@media (max-width: 640px) {
  .header {
    background-image: url(../images/banner-mobile.jpg);
    max-width: 100%;
  }

  .header-logo {
    margin: 0 auto;
  }

  .welcome-title {
   line-height: 1.4;
   font-size: 40px;
}

  .trend-artical {
    display: flex;
    flex-wrap: wrap;
  }

  .trend {
    width: 100%;
  }

  .trend:nth-child(-n + 3) {
    margin-bottom: 3px;
  }

  .main-field {
    flex-wrap: wrap;
 }

 .main, .foto-post, .info {
    width: 100%;
  }

 .post {
    flex-wrap: wrap;
  }

 .info {
   margin-left: 0;
}

  .aside {
    width: 100%; 
 }

  .saling {
    flex-wrap: wrap;
  }

  .sale {
    width: 100%;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .trend {
    width: calc(50% - 3px);
  }

 .trend:nth-child(-n+2) {
    margin-bottom: 3px;
  }

  .trend:nth-child(odd) {
    margin-right: 3px;
  }
}


@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    max-width: 100%;
    max-height: 100%;
}

  .welcome {
    width: 77%;
  }

  .welcome-title {
   line-height: 1.2;
   font-size: 26px;
   margin:  0 auto;
}

  .trend-artical {
    flex-wrap: wrap;
  }
    
  .main {
    width: 52%;
  }

  .foto-post {
    width: 48%;
 } 

  .info {
    width: 45%;
    margin-left: 0;
 } 

  .aside {
    width: 35%; 
 }

  .saling {
    flex-wrap: wrap;
 }

 .sale {
    width: 45%;
 }

  .sale:nth-child(n+3) {
    margin-top: 20px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation:portrait) {
  .trend {
    width: calc(50% - 3px);
  }

  .trend:nth-child(-n+2) {
    margin-bottom: 3px;
  }

  .trend:nth-child(odd) {
    margin-right: 3px;
  }

  .post {
    flex-wrap: wrap;
  }
  
  .foto-post, .info {
    width: 100%;
 } 

 .info {
   margin-left: 0;
 }
}

@media (max-width: 1199px) {
 .menu {
  display: none;
 }

 .menu-burger {
   width: 24px;
   height: 22px;
}

.menu-burger-item {
  display:  block;
  width: 24px;
  height: 2px;
  background-color: #ffffff;
}

.menu-burger-item:nth-child(n+1) {
  margin-bottom: 6px;
 }
}

@media (min-width: 1200px){
.menu-burger{
  display: none;
 }
}

